.home-header{
  position: fixed;
  top: 0px;
  margin: 0px;
  width: 100%;
}

.home-title{
  width: 50%;
  margin: 5px;
  margin-bottom: 0px;
}

.home-main{
  margin-top: 120px;
}

.home-star-logo{
  position: fixed;
}

.home-content{
  margin-left: 100px;
  font-family: Arial;
  color: white;
}