.form-wrapper{
  margin-top: 30px;
  border: 1px solid #000000;
  height: 80px;
}

.input{
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: $goblin-green;
  outline: none;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  letter-spacing: 0.325em;
  // text-transform: uppercase;  
}

.top{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #676767
}

.confirmation-button{
  margin-top: 30px;
  width: 100%;
  height: 46px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.325em;

color: #000000;
}

.bottom{
  border: 0;
}