.payment-container{
  display: block;
  margin: auto;
  height: calc(100vh - 102px);
  width: 90%;
  text-align: center;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  letter-spacing: 0.325em;
  text-transform: uppercase;
}