.line{
  position: static;
  width: 100%;
  height: 0px;
  
  filter: blur(1px);
  &-top{
    margin-bottom: 0px;
    margin-top: 10px;
    &-white{
      border: 2px solid #FFFFFF;
    }
    &-black{
      border: 2px solid #000000;
    }
  }
  &-bottom{
    margin-bottom: 10px;
    margin-top: 0px;
    &-white{
      border: 2px solid #FFFFFF;
    }
    &-black{
      border: 2px solid #000000;
    }
  }
}
