.safety-code {
  background-color: #6FD81C;
  height: 100vh;
}

.safety-code__container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 90%;
  left: 5%;
}

.safety-code__container__text{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000000;
}

.safety-code__title{
  margin: 5px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.325em;
  text-transform: uppercase;
  color: #000000;
  filter: blur(1px);
}